@{
    ViewBag.Title = "Dash Dota";
}

<h1>Dash Dota Alpha Test</h1>
<hr />

<h3>Step 1: Enter your steam Id:</h3>
<div>
    <form id="form" onsubmit="return false;">
        <input type="text" id="userInput" />
        <input type="submit" onclick="SetSteamId();" />
    </form>
</div> 
<br />

<h3>Step 2: Download the config file:</h3>

@using (Html.BeginForm("DownloadConfig", "Game", new { id = 6666 }, FormMethod.Post, new { @target = "_Blank" }))
{
    <button type="submit" class="btn btn-default">Download Cfg</button>
}
<br />

Make sure the above file is placed in the location: <br />
\steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration\gamestate_integration_dashdota.cfg <br /><br />

Note: You may have to manually create the "gamestate_integration" folder in the above path. <br /><br />

<h3>Step 3: View real-time stats!</h3>
<hr />

<div>
    <b>Steam Id: </b><div id="steamid" style="display:inline-block">-1</div><br />
    <b>Steam Name: </b><div id="steamname" style="display:inline-block">-1</div><br />
    <b>Match Id: </b><div id="matchid" style="display:inline-block">-1</div><br />
    <b>Team: </b><div id="team" style="display:inline-block">-1</div><br />
    <b>Hero: </b><div id="hero" style="display:inline-block">-1</div><br />
    <b>Clock Time: </b><div id="clocktime" style="display:inline-block">-1</div><br />
    <b>Gold Per Minute: </b><div id="gpm" style="display:inline-block">-1</div><br />
    <b>Experience Per Minute: </b><div id="xpm" style="display:inline-block">-1</div><br />
    <b>Networth: </b><div id="networth" style="display:inline-block">-1</div><br />
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")

<script>
    var steamId = 0;
    const TimeoutLengthMs = 500;

    $.ajaxSetup({
        timeout: 10000
    });

    $(document).ready(function () {
        //Once everything else is loaded, start getting in real time information
        setTimeout(Timeout, TimeoutLengthMs);
    });

    function SetSteamId() {
        steamId = document.getElementById("userInput").value;
        alert("Steam Id has been set to: " + steamId);
    }

    function Timeout() {
        GetGameState();
    }

    function GetGameState() {
        $.ajax({
            method: "GET",
            url: '@Url.Action("GetGameState", "Game")',
            timeout: 10000,
            data: {
                id: steamId,
            },
        })
        .done(function (data) {
            //var gsObject = JSON.parse(data);
            //UpdateDivs(gsObject);
            if (data.length === 0)
            {
                console.log("no data found");
            }
            else
            {
                $('#steamid').html(data[0].PartitionKey)
                $('#matchid').html(data[0].MatchId)
                $('#clocktime').html(data[0].ClockTime)
                $('#gpm').html(data[0].GoldPerMinute)
                $('#xpm').html(data[0].ExperiencePerMinute)
                $('#networth').html(data[0].Networth)
            }
        })
        .fail(function (data) {

        })
        .always(function (data) {
            setTimeout(Timeout, TimeoutLengthMs);
        });
    }

</script>
}

